<div>
    <div>
		<p>My name is Alex, I am 33 years old. I have been working in web developent for 7 years. Most of them with PHP. I am pretty good at development with Symfony, but of course, as any other PHP developer, I am familiar with other frameworks. An I love pure PHP programming.</p>
		<p>My passion in development is refactoring. I like to make things better. When I have a chance to improve something (even if I am on the other task right now) I do it. I am trying to follow Uncle Bob's (Bob Martin) boy-scout principle: &laquo;Leave the code cleaner than it was before you started working on it&raquo;</p>
	</div>
    <a href="/aa/github">my github repos</a> | <a href="/aa/projects">projects</a>
</div>
