<div>
    <ol>
        <li><a href="https://github.com/grosslarnakh/pm">pm</a> (<a href="http://www.ludwigbistronovsky.ru/tools/e/">personal finance planning tool</a>)</li>
        <li><a href="http://ludwigbistronovsky.ru/">CTO responsibility</a>: I help to maintain this site, making decisions on what technology to use, etc. This is a personal site of art-director on famous russian design studio. I like the page &laquo;<a href="http://ludwigbistronovsky.ru/new/">New version of the site</a>&raquo; (I remade it almost from the scratch).</li>
        <li><a href="http://hvostikleta.ru/">my wife's site</a> (she is children writer)</li>
        <li><a href="http://ski-biathlon.ru/">my sport school site</a></li>
		<li><a href="http://for-fun-dev.com/">my personal site</a> (I like the <a href="http://for-fun-dev.com/cowcites/">Cow says page</a>: it uses 2 linux terminal utilites: fortune and cowsay)</li>
    </ol>
</div>

<div style="color:#999;font-size:90%;margin-top:30px;">Sorry, most of them are in Russian,</div>
