<div>
    <ol>
        <li>pm (personal finance planning tool)s</li>
        <li>http://ludwigbistronovsky.ru/ (CTO)</li>
        <li>http://hvostikleta.ru/ (my wife's site (she is children writer))</li>
        <li>http://ski-biathlon.ru/ (my sport school site)</li>
    </ol>
</div>
